* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, serif;
    background-color: #313338;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* display: none; Initially hidden */
    z-index: -1; /* Ensure it is behind other content */
}

.quiz-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* .quiz-container div{
    border: 1px solid red;
} */

#question-container {
    margin-bottom: 20px;
}

#question{
    max-width: 100%;
    font-size: 1.5em;
    word-wrap: break-word;
}

#circuit{
    aspect-ratio: 1/1;
    font-family: 'Arial Unicode MS';
}

.option {
    background-color: #7c746c;
    color: white;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #44443c;
}

#next-btn {
    background-color: #77b3ea;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#next-btn:hover {
    background-color: #3384eb;
}

#solution {
    background-color: #cfada9;
    color: white;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#solution:hover {
    background-color: #a18683;
}

#real-solution{
    border-top: 1px solid gray;
}

#solution-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#solutions_table{
    border-collapse: collapse;
    width: 100%;
    font-family: Garamond, serif;
}

#solutions_table th{
    background-color: #44443c;
    color: white;
}

/* #solutions_table td{
    background-color: #fdeec3;
} */

.hidden {
    display: none;
}

/* Mobile version */
@media (max-width: 768px) {
    #orientation-container{
        display: flex;
        flex-direction: column;
    }

    #circuit{
        width: 100%;
    }

    #options-container {
        display: flex;
        flex-direction: column;
    }

    .option{
        width: 98%;
        margin: 5px;
    }
}

/* PC version */
@media (min-width: 769px) {
    #question{
        font-size: 1.5vw;
    }

    #orientation-container{
        display: flex;
        flex-direction: row;
    }

    #circuit{
        width: 40%;
    }

    #options-container{
        box-sizing: border-box;
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5% 35% 35% 15% 10%;
        gap: 10px; 
    }

    .option{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        font-size: 1.5vw;
    }

    #next-btn {
        padding: 15px;
        font-size: 1.4vw;
    }
    #solution {
        padding: 15px;
        font-size: 1.4vw;
    }

    .row3 {
        grid-column: span 2; /* Make the row3 span across both columns */
        display: flex;
        justify-content: right;
        align-items: right;
        gap: 5px; /* Optional: Add some space between the buttons */
    }

    .padder{
        grid-column: span 2;
    }

    #solutions_table{
        font-size: 1.5vw;
    }

    #solutions_table th, #solutions_table td {
        text-align: center; /* Center align text in table cells */
        padding: 10px; /* Add padding to table cells */
        border: 1px solid black; 
    }
}
